<!-- <label for="color-dropdown">Find a cause by color:</label>

<select #color class="select select-bordered w-full max-w-xs" name="color-dropdown" id="color-dropdown" (change)="onSelect(color.value)">
    <option value="">ALL</option>
    @for (color of colorMap; track color[0]) {
        <option value="{{ color[1].name }}">{{ color[1].displayName }}</option>
    }
</select> -->


<div class="dropdown dropdown-end">
    <div tabindex="0" role="button" class="btn btn-ghost rounded-btn">Find a cause by color:</div>
    <ul
      tabindex="0"
      class="flex menu dropdown-content bg-base-100 rounded-box z-[1] mt-4 w-52 p-2 shadow">
      @for (color of colorMap; track color[0]) {
        <li class="p-0 m-0">
          <a [routerLink]=[color[1].name] class="flex flex-row">
            <div class="w-5 h-5 border border-slate-100 m-0 p-0" [style.background]="color[1].hexCode"></div>
            <div>{{ color[1].displayName }}</div>
        </a>
      </li>
    }
    </ul>
  </div>